<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head> 
    <title>User Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    
    <link rel="stylesheet" href="/css/styles.css">
    <script>
        $(document).ready(function(){
            
            $('#OrderTable').dataTable({
                "bPaginate": false,
                "bFilter": true,
                "bInfo": false,
                "bAutoWidth": false }
            );
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="row"> <!--      NAVBAR      -->
            <div class="col-sm-12 sn-navbar">
                <div class="sn-navbar-btn" onclick="window.location='/home'">
                    Home
                </div>
                <div sec:authorize="hasAuthority('ADMIN')" class="sn-navbar-btn" onclick="window.location='/admin/dashboard'">
                    Admin
                </div>
                <div sec:authorize="hasAnyAuthority('ADMIN', 'REFERRAL_DOCTOR')" class="sn-navbar-btn" onclick="window.location='/referral'">
                    Referrals
                </div>
                <div sec:authorize="hasAnyAuthority('ADMIN', 'RECEPTIONIST')" class="sn-navbar-btn" onclick="window.location='/staff/appointments'">
                    Appointments
                </div>
                <div sec:authorize="hasAnyAuthority('ADMIN', 'RECEPTIONIST')" class="sn-navbar-btn" onclick="window.location='/staff/orders'">
                    Orders
                </div>
                <div sec:authorize="hasAnyAuthority('ADMIN', 'TECHNICIAN')" class="sn-navbar-btn" onclick="window.location='/imaging/appointments'">
                    Appointments
                </div>
                <div sec:authorize="hasAnyAuthority('ADMIN', 'RADIOLOGIST')" class="sn-navbar-btn" onclick="window.location='/diagnostics/appointments'">
                    Appointments
                </div>
                <div sec:authorize="hasAnyAuthority('ADMIN', 'RADIOLOGIST')" class="sn-navbar-btn" onclick="window.location='/diagnostics/appointments'">
                    Orders
                </div>
                <div class="sn-navbar-btn" style="float:right;" onclick="window.location='/user_logout'">
                    Logout
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 panel">
                <div class="inset-panel">
                    <div class="row">
                        <div class="col-sm-12">
                            <center>
                                <h1>Logged in</h1>
            
                                <div sec:authorize="isAuthenticated()">
                                    <p>Welcome <b><span sec:authentication="name">Username</span></b></p>
                                    <p><i><span sec:authentication="principal.authorities">Roles</span></i></p>
                                </div>
            
                                <div sec:authorize="hasAuthority('USER')">
                                    <p><b>Contact your system admin to be assigned a system role.</b></p>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
                <div sec:authorize="hasAnyAuthority('ADMIN', 'REFERRAL_DOCTOR')" class="inset-panel">
                    <div class="row">
                        <div class="col-sm-12">
                            <center><h3>Placed Orders</h3></center>
                        </div>
                    </div>
                    <hr>
                    <br>
                    <div style="overflow-y: auto; max-height: 600px;">
                        <table id="OrderTable" class="display">
                            <thead>
                                <tr>
                                    <th>Order ID</th>
                                    <th>Patient</th>
                                    <th>Referral MD</th>
                                    <th>Modality</th>
                                    <th>Notes</th>
                                    <th>Status</th>
                                    <th>Report</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="order : ${orders_list}">
                                    <td th:text="${order.getId()}">-1</td>
                                    <td th:text="${order.getPatientObject().getLast_name()} + ', ' + ${order.getPatientObject().getFirst_name()}">-1</td>
                                    <td th:text="${order.getReferral_md()}">-1</td>
                                    <td th:text="${order.getModality()}">-1</td>
                                    <td th:text="${order.getNotes()}">-1</td>
                                    <td th:text="${order.getStatus()}">-1</td>
                                    <td th:text="${order.getReport()}">-1</td>
                                    <td><p class="view-a orderViewButton">View</p></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>