<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>New Patient Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>User Form</h1>

    <form action="#" th:action="@{/demo}" th:object="${NewPT}" method="post">

        <p>First Name: <input type="text" th:field="*{Fname}" /></p>
        <p>Middle Name: <input type="text" th:field="*{Mname}" /></p>        
        <p>Last Name: <input type="text" th:field="*{Lname}" /></p>

        <p>Date of Birth: <input type="date" value="2000-01-01"th:field="*{DoB}" /></p>

        <p>Phone Number: <input type="text" th:field="*{phone}" /></p>
        <p>Email Address: <input type="email" th:field="*{email}" /></p>

        <p>Gender: 
        <input type="radio" th:field="*{ptGender}" th:value="${Male}" class="ptGender">
        <label class="ptGender" th:for="${#ids.prev('ptGender')}" th:text="${Male}">Male</label>
        <input type="radio" th:field="*{ptGender}" th:value="${Female}" class="ptGender">
        <label class="ptGender" th:for="${#ids.prev('ptGender')}" th:text="${Female}">Female</label>
        <input type="radio" th:field="*{ptGender}" th:value="${Other}" class="ptGender">
        <label class="ptGender" th:for="${#ids.prev('ptGender')}" th:text="${Other}">Other</label></p>


        <p><input type="submit"  value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
    
</body>
</html>
